<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-right">
                <img src="images/logo.png" alt="{#site.title}">
            </div>
            <div class="col-md-6 text-right">
                {#site.copyright}<br>
                <ul class="fnav">
                    <li><a href="{#site.path}">首页</a></li>
                    <li><a href="{#site.path}?/about/">关于通洋</a></li>
                    <li><a href="{#site.path}?/products/">产品介绍</a></li>
                    <li><a href="{#site.path}?/news/">公司动态</a></li>                    
                    <li><a href="{#site.path}?/jobs/">人才招聘</a></li>    
                    <li><a href="{#site.path}?/feedback/">在线留言</a></li>                   
                    <li><a href="{#site.path}?/contact/">联系我们</a></li>
                    <li>{#site.code}</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
 
 {#site.qq}
<!--[if lt IE 9]>
<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->    