<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{#sort.title}-{#site.title}</title>
<!-- bootstrap -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- awesome -->
<link href="css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!--#include file="header.htm" -->

<div class="main">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <!--#include file="sidebar.htm" -->
    </div>
    <div class="col-md-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="pull-left">
            <strong><i class="icon-circle-arrow-right"></i> {#sort.title}</strong>
          </div>
          <div class="pull-right">您的位置：{#site.title} / {#sort.title}</div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body">

<!-- 在线留言 -->
<style>
.help-block{display:none;}
.has-error .help-block{display:block;color:red;}
</style>
 <div class="feedback">
   <form class="form-horizontal" method="post" id="fbform" action="{#site.root}data.asp?action=comment">
     <div class="form-group">
      <label class="control-label col-sm-2" for="input01">姓名<span>*</span></label>
      <div class="controls col-sm-5">
       <input type="text" placeholder="姓名" class="form-control require" name="person" id="xingming" />
       <p class="help-block">请输入您的姓名</p>
      </div>
     </div>
     
     <div class="form-group">
      <label class="control-label col-sm-2" for="input01">电话<span>*</span></label>
      <div class="controls col-sm-5">
       <input type="text" placeholder="区号+号码  010-12345678" class="form-control require" name="phone" id="dianhua" />
       <p class="help-block">请输入您的电话</p>
      </div>
     </div>

     <div class="form-group">
      <label class="control-label col-sm-2" for="input01">传真</label>
      <div class="controls col-sm-5">
       <input type="text" placeholder="区号+号码  010-12345678" class="form-control" name="mobile" id="chuanzhen" />
       <p class="help-block">请输入您的传真</p>
      </div> 
     </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="input01">E-mail</label>
      <div class="controls col-sm-5">
       <input type="text" placeholder="邮箱 mail@domain.com" class="form-control require" name="email" id="email" />
       <p class="help-block">请输入您的邮箱</p>
      </div>
     </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="input01">联系地址<span>*</span></label>
      <div class="controls col-sm-9">
       <input type="text" placeholder="XX省XX市XX路XX号" class="form-control require" name="address" id="lianxidizhi" />
       <p class="help-block">请输入您的联系地址</p>
      </div>
     </div>
     <div class="form-group">
      <label class="control-label col-sm-2" for="content">留言备注</label>
      <div class="controls col-sm-9">
       <textarea class="form-control" rows="3" name="content"></textarea>
      </div>
     </div>
     <div class="form-group">
      <label class="control-label col-sm-2"></label>
      <div class="controls col-sm-9">      
       <button class="btn btn-primary" type="submit" id="jiameng_btn">提交留言</button>
      </div>
     </div>
   </form>
  </div>
<script> 
  $(function() {
    //必填项
    $('form').on("submit",function(e){
      $(this).find('.require').each(function(){
        var obj = $(this);
        var objVal = obj.val();
        if(obj.val() == '' || obj.val() == '0'){
          obj.parent().parent().addClass('has-error');
          obj.on('change',function(){
            obj.parent().parent().removeClass('has-error');
          })
          e.preventDefault();
        }
      })
    })
}); 
</script> 
<!-- 在线留言.end -->

        </div>
      </div>
    </div>
  </div>
</div>

</div>
<!--#include file="footer.htm" -->

</body>
</html>
