@charset "utf-8";
/* ie */
body{background:#f1f1f1}
.container{width:1170px;margin:auto;}
.row{ margin-right:0px; margin-left:0px;padding-left:0px; padding-right:0px;}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{ padding-left:0px; padding-right:0px;}
#content .row{padding-left:0px; padding-right:0px;}
.clearfix{clear:both;}
.box{padding:0 10px;}
